<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Codenames Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row padding-top-1">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class ="row mx-auto">
                <div class="text-align-center white-color" th:if="${!showActivePlayerElements}" th:text="${activePlayerName} + '\'s move'"></div>
            </div>
            <div class ="row mx-auto">
                <div class="text-align-center white-color" th:if="${showActivePlayerElements}"> Your turn! </div>
            </div>
            <div class ="row mx-auto" th:if="${showActivePlayerElements} and ${showSpymasterElements}">
                <div class="text-align-center white-color">Give your operative a clue! </div>
            </div>
            <div class ="row mx-auto" th:if="${showActivePlayerElements} and ${!showSpymasterElements}">
                <div class="text-align-center white-color">Try to guess the word! </div>
            </div>
            <div class ="row mx-auto" th:if="${!showActivePlayerElements} and ${isActivePlayerFromYourTeam} and ${isActivePlayerSpymaster}">
                <div class="text-align-center white-color">Your spymaster is giving a clue...</div>
            </div>
            <div class ="row mx-auto" th:if="${!showActivePlayerElements} and ${isActivePlayerFromYourTeam} and ${!isActivePlayerSpymaster}">
                <div class="text-align-center white-color">Your operative is guessing... </div>
            </div>
            <div class ="row mx-auto" th:if="${!showActivePlayerElements} and ${!isActivePlayerFromYourTeam} and ${isActivePlayerSpymaster}">
                <div class="text-align-center white-color">Spymaster of other team is giving a clue... </div>
            </div>
            <div class ="row mx-auto" th:if="${!showActivePlayerElements} and ${!isActivePlayerFromYourTeam} and ${!isActivePlayerSpymaster}">
                <div class="text-align-center white-color">Operative of other team is guessing... </div>
            </div>

        </div>
        <div class="col-3">

        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="row g-0 black-background">
                <div class="text-align-center white-color">Red Team</div>
            </div>
            <div class="row g-0 black-background red-team-padding">
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li th:text="'Spymaster: '+${redTeam.getSpymaster().getName()}" class="list-group-item"></li>
                        <li th:text="'Operative: '+${redTeam.getOperative().getName()}" class="list-group-item"></li>
                        <li class="list-group-item"> Opened Cards</li>
                        <li class="list-group-item">-------</li>
                    </ul>
                </div>
                <div class="col-6 z-index-12">
                    <img class="row border-for-image width-100"
                         th:src="@{/styles/redteam2.jpg}"/>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row mx-auto">
                <form id="main-game-board"
                      class="form cf white-shadowed-form2 mx-auto"
                      action="#"
                      th:action="@{'/codenames/player/move/'+${player}}"
                      th:unless="${gameEnd}"
                      th:object="${turnData}" method="post">
                    <div class="row">
                        <div class="plan cf white-shadowed-form">
                            <div th:each="card:${cardList}">
                                <input th:unless="${card.isRevealed}"
                                       th:field="${turnData.selectedCard.text}"
                                       th:attr="value=${card.text},id=${card.text}"
                                       th:disabled="${!showActivePlayerElements} or ${showSpymasterElements} or ${card.isRevealed()}"
                                       type="radio">
                                <label th:unless="${card.isRevealed}"
                                       th:attr="for=${card.text}"
                                       th:text=" ${card.color}"
                                       class="free-label four col"></label>
                                <label th:if="${card.isRevealed()} and ${card.getColor().toString()} == 'RED'"
                                       th:attr="for=${card.text}"
                                       class="red-revealed-card-background revealed-card free-label four col"></label>
                                <label th:if="${card.isRevealed()} and ${card.getColor().toString()} == 'GREEN'"
                                       th:attr="for=${card.text}"
                                       class="green-revealed-card-background revealed-card free-label four col"></label>
                                <label th:if="${card.isRevealed()} and ${card.getColor().toString()} == 'BLUE'"
                                       th:attr="for=${card.text}"
                                       class="blue-revealed-card-background revealed-card free-label four col"></label>
                                <label th:if="${card.isRevealed()} and ${card.getColor().toString()} == 'BLACK'"
                                       th:attr="for=${card.text}"
                                       class="black-revealed-card-background revealed-card free-label four col"></label>
                            </div>
                        </div>
                    </div>
                    <div id="form-divider" class="row">


                    </div>
                    <div class="row white-shadowed-form">
                        <div class="col-3">
                            <button id="guess-button"
                                    type="submit"
                                    class="action-panel-button-height button-18 "
                                    role="button"
                                    th:disabled="${!showActivePlayerElements} and ${showSpymasterElements}">
                                <span>Guess</span>
                            </button>
                        </div>
                        <div class="col-6">
                            <div class="hint-text hint-panel-el-height width-100 white-background"
                                 th:text="${hint.text}"></div>
                            <input class="hint-panel-el-height width-100 hint-text"
                                   type="text"
                                   th:field="${turnData.hint.text}"
                                   th:disabled="${!showActivePlayerElements} or ${!showSpymasterElements}">
                            <button id="hint-button-line-height"
                                    class="hint-button-line-height hint-panel-el-height button-18"
                                    type="submit"
                                    th:disabled="${!showActivePlayerElements} or ${!showSpymasterElements}">
                                <span>Hint</span>
                            </button>
                        </div>
                        <div class="col-3">
                            <a class="action-panel-button-height button-18"
                               th:href="@{'/codenames/main-page/'+${playerName}}">
                                <span>Is it my turn yet ?</span>
                            </a>
                        </div>


                    </div>
                </form>
                <div th:if="${gameEnd}" class="row">
                    <div th:text="${winningTeam} + ' team won!'"></div>
                </div>
                <div th:if="${gameEnd}" class="row">
                    <a class="action-panel-button-height button-18"
                       th:href="@{'/codenames/restart/'+${playerName}}">
                        <span>PlAY AGAIN</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="row g-0 black-background">
                <div class="text-align-center white-color">Blue Team</div>
            </div>
            <div class="row g-0 black-background blue-team-padding">
                <div class="col-6">
                    <img class="border-for-image width-100"
                         th:src="@{/styles/blueteam2.jpg}"/>
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li th:text="'Spymaster: '+${blueTeam.getSpymaster().getName()}" class="list-group-item"></li>
                        <li th:text="'Operative: '+${blueTeam.getOperative().getName()}" class="list-group-item"></li>
                        <li class="list-group-item"> Opened Cards</li>
                        <li class="list-group-item">-------</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row fixed-row-bottom">
        <img src="/styles/experimentCut.jpg">
    </div>
</div>
</body>
</html>