<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Hello from main page</h1>
    </div>
    <div class="row">
        <form>
            <div class="row" th:each="row:${cardRows}">
                <div  style="width: 10%;" th:each="card:${row}">
                    <input th:attr="value=${card.text},id=${card.text}" type="radio" class="btn-check"
                           autocomplete="off" checked="">
                    <label th:attr="for=${card.text}" th:text="${card.text}" class="btn btn-outline-success"></label>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>