<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/codenames/save-player}" th:object="${player}" method="post">
    <p>Enter your username</p>
    <p>
        <input type="text" th:field="*{name}"/>
    </p>
    <input type="submit" value="Submit"/>
</form>
<p> Players connected: </p>
<div th:each = "playerFromList:${playerList}" >
    <p th:text = "${playerFromList.name}"></p>
</div>
</body>
</html>